<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{title}}</h1>
      <form action="" method="get" (submit)="onSubmit()">
        <div class="form-group">
          <label for="search">Search</label>
          <input [(ngModel)]="searchTerm" type="text" class="form-control" id="search" name="search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div class="result" *ngFor="let result of results">
        <a href="http://en.wikipedia.org/wiki?curid={{result.pageid}}">http://en.wikipedia.org/wiki?curid={{result.pageid}}</a>
        <h3>{{result.title}}</h3>
        <p [innerHtml]="result.snippet"></p>
      </div>
    </div>
  </div>
</div>

